ulpanel on-close(() => component.emit('close'))
	li.link on-click(() => component.emit('toggle', 'autorun'))
		toggleswitch value=input.autorun -- autorun
	li.link on-click(() => component.emit('toggle', 'sort'))
		toggleswitch value=input.sort -- sort output
	li.link on-click(() => component.emit('toggle', 'tabular'))
		toggleswitch value=input.tabular -- tabular view
